msvs_version=2022
python=python3
node_gyp_force_python=C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe
optionalDependencies=false
ignore-scripts=true 